<h1>New card</h1>

<%= form_with model: [@group, @group.cards.new ] do |form| %>
    <%= form.label :term %>
    <%= form.text_field :term %>

    <%= form.label :definition %>
    <%= form.text_field :definition %>

    <%= form.submit %>
<% end %>